.Container {
  width: auto;
  box-shadow: 1px 6px 60px #999;
  border-radius: 10px;
  background: white;
  text-align: justify;
  margin-top: 20px;
  margin-block-end: 20px;
}

hr {
  border: 1px solid black;
  width: 90%;
}

h3 {
  text-align: center;
  padding-top: 20px;
}

.delivery_information p {
  text-align: left;
}

li {
  text-align: left;
}