.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid div {
    text-align: center;
    margin: 2px;
    padding: 10px;
}

hr {
    border: 1px solid black;
    width: 90%;
}

.head {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

select {
    border-radius: 10px;
    height: 25px;
}

.selection {
    padding-top: 10px;
}