.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid div {
    text-align: center;
    margin: 2px;
    padding: 10px;
}

hr {
    border: 1px solid black;
    width: 90%;
}

h3 {
    text-align: center;
    padding-top: 10px;
}