.footer-container {
    height: 20vh;
    width: auto;
    background: #6495ED;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.delivery-container {
    align-items: left;
    width: 20%;
}

.delivery-container p{
    padding-top: 50px;
    color: white;
    font-family: 'Coperplate';
}

.social-container {
    display: block;
    align-items: center;
    width: 60%;
}

.social-container h3 {
    padding-top: 30px;
    color: white;
    text-align: center;
    font-family: 'Copperplate';
}

.social-icons {
    margin-left: 290px;
    align-items: center;
}

a.social {
    margin: 1rem;
    transition: transform 250ms;
}

a.social:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: white;
}
  
a.facebook {
    color: white;
}
  
a.twitter {
    color: white;
}
  
a.instagram {
    color: white;
}

.contact-container {
    height: 20%;
    align-items: right;
    width: 20%;
}

.contact-container p{
    padding-top: 20px;
    padding-bottom: 0;
    color: white;
    font-family: 'Coperplate';
}

.information-link:hover{
    text-decoration: none;
}

#email-phone {
    align-items: center;
    padding: 0;
    font-size: 15px;
}