nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    border-radius: 10px;
    background: #6495ED;
}

.nav-style {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

.nav-links {
    color:white ;
    font-family: 'Copperplate';
    font-size: 20px;
    text-decoration: none;
}