h1
{
    text-align: center;
    font-size: 8vw;
    color:black;
    line-height: 1em;
    padding: 30px;
}
h2
{
    text-align: center;
    position: relative;
    font-size: 2vw;
    margin-bottom: 20px;
    color: black;
}
p
{
    text-align: center;
    position: relative;
    font-size: 1.5vw;
    margin-bottom: 20px;
    color: black;
    padding: 30px;
}