# Teszt jegyzőkönyv

# Projekt adatai:
- Projektkód: SJ016FS
- Projektnév: Book Shop

# Tesztelő adatai:
- Név: Horváth István
- Beosztás: Junior programozó

| Tesztkód | Tesztelt funkció | Teszteset leírása | Státusz | Hiba oka | időpont|
|----------|------------------|-------------------|---------|----------|--------|
| T01 | Backend | Get all publishers művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt. | Sikeres | - | 2021.05.17. 14:39 |
| T02 | Backend | Get a single publisher by id művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt.	| Sikeres | - | 2021.05.17. 14:41 |
| T03 | Backend | Create a new publisher by id művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt.	| Sikeres | - | 2021.05.17. 14:45 |
| T04 | Backend | Update a publisher by id megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt. | Sikeres | - | 2021.05.17. 14:47 |
| T05 | Backend | Delete a publisher by id művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt. | Sikeres | - | 2021.05.17. 14:50 |
| T06 | Frontend | Könyv hozzáadása formon üres cím esetén az oldal hibaüzenetet dob. | Sikeres | - | 2021.05.17. 14:57 |
| T07 | Frontend | Könyv hozzáadása formon üres leírás esetén az oldal hibaüzenetet dob. | Sikeres | - | 2021.05.17. 15:02 |
| T08 | Frontend | Könyv hozzáadása formon üres oldalszám esetén az oldal hibaüzenetet dob. | Sikeres | - | 2021.05.17. 15:05 |
| T09 | Frontend | Könyv hozzáadása formon üres nyelv esetén az oldal hibaüzenetet dob.    | Sikeres | - | 2021.05.17. 15:09 |
| T10 | Frontend | Könyv hozzáadása formon üres ár esetén az oldal hibaüzenetet dob.| Sikeres | - | 2021.05.17. 15:12 |
| T11 | Frontend | Könyv szerkesztése formon üres cím esetén az oldal hibaüzenetet dob. | Sikeres | - | 2021.05.17. 15:15 |
| T12 | Frontend | Könyv szerkesztése formon üres leírás esetén az oldal hibaüzenetet dob. | Sikeres | - | 2021.05.17. 15:20 |
| T13 | Frontend | Könyv szerkesztése formon üres oldalszám esetén az oldal hibaüzenetet dob. | Sikeres | - | 2021.05.17. 15:22 |
| T14 | Frontend | Könyv szerkesztése formon üres nyelv esetén az oldal hibaüzenetet dob. | Sikeres | -	| 2021.05.17. 15:25 |
| T15 | Frontend | Könyv szerkesztése formon üres ár esetén az oldal hibaüzenetet dob.| Sikeres | -	| 2021.05.17. 15:27 |
| T16 | Backend | Get all writers művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt.| Sikeres | - | 2021.05.17. 15:30 |
| T17 | Backend | Get a single writer by id művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt. | Sikeres | - | 2021.05.17. 15:32 |
| T18 | Backend | Create a new writer by id művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt.| Sikeres | - | 2021.05.17. 15:36 |
| T19 | Backend | Update a publisher by id megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt. | Sikeres | - | 2021.05.17. 15:39 |
| T20 | Backend | Delete a publisher by id művelet megfelelően működik. Ennek a funkciónak tesztelése a Postman alkalmazással történt. | Sikeres | - | 2021.05.17. 15:42 |
| T21 | Frontend Könyv hozzáadása | A Mentés gomb használata megfelelően működött. | Sikeres | - | 2021.05.17. 15:45 |
| T22 | Routeing Könyv hozzáadása | A Könyv hozzáadása menüpont a helyes oldalra irányít. | Sikeres | - | 2021.05.17. 15:47 |
| T23 | Frontend Könyv hozzáadása | A header felirat helyesen megjelent. | Sikeres | - | 2021.05.17. 15:50 |
| T24 | Frontend Könyv hozzáadása | A cím felirat az input mező előtt helyesen megjelent. | Sikeres | - | 2021.05.17. 15:52 |
| T25 | Frontend Könyv hozzáadása | A cím input mező helyesen megjelent. | Sikeres | - | 2021.05.17. 15:55 |
| T26 | Frontend Könyv hozzáadása | A cím input mező karakter megjelnítése a megfelelő formátumú. | Sikeres | - | 2021.05.17. 15:57 |
| T27 | Frontend Könyv hozzáadása | A leírás felirat az input mező előtt helyesen megjelent. | Sikeres | - | 2021.05.17. 16:00 |
| T28 | Frontend Könyv hozzáadása | A leírás input mező helyesen megjelent. | Sikeres | - | 2021.05.17. 16:03 |
| T29 | Frontend Könyv hozzáadása | A leírás input mező karakter megjelnítése a megfelelő formátumú. | Sikeres | - | 2021.05.17. 16:05 |
| T30 | Frontend Könyv hozzáadása | Az oldalszám felirat az input mező előtt helyesen megjelent. | Sikeres | - | 2021.05.17. 16:08 |
| T31 | Frontend Könyv hozzáadása | Az oldalszám input mező helyesen megjelent. | Sikeres | - | 2021.05.17. 16:10 |
| T32 | Frontend Könyv hozzáadása | Az oldalszám input mező karakter megjelnítése a megfelelő formátumú. | Sikeres | - | 2021.05.17. 16:13 |
| T33 | Frontend Könyv hozzáadása | A nyelv felirat az input mező előtt helyesen megjelent. | Sikeres | - | 2021.05.17. 16:15|
| T34 | Frontend Könyv hozzáadása | A nyelv input mező helyesen megjelent. | Sikeres | - | 2021.05.17. 16:18 |
| T35 | Frontend Könyv hozzáadása | A nyelv input mező karakter megjelnítése a megfelelő formátumú. | Sikeres | - | 2021.05.17. 16:21 |
| T36 | Frontend Könyv hozzáadása | Az ár felirat az input mező előtt helyesen megjelent. | Sikeres | -	| 2021.05.17. 16:23 |
| T37 | Frontend Könyv hozzáadása | Az ár input mező helyesen megjelent. | Sikeres | - | 2021.05.17. 16:25 |
| T38 | Frontend Könyv hozzáadása | Az ár input mező karakter megjelnítése a megfelelő formátumú. | Sikeres | - | 2021.05.17. 16:28 |

