# Teszt jegyzőkönyv

# Projekt adatai:
- Projektkód: SJ016FS
- Projketnév: Book shop

# Tesztelő adatai:
- Név: Török Gabriella
- Beosztás: Junior Programozó

| Tesztkód | Tesztelt funkció  | Teszteset leírása                              | Státusz | Hiba oka | Időpont            |
| T01      | Backend           | A get all category megfelelően működik.        | Sikeres | -        | 2021.05.17. 22:28  |
                                A funkciót Postman alkalmazással teszteltem.
| T02      | Backend           | A get category by id megfelelően működik.      | Sikeres | -        | 2021.05.17. 22:32  |
                                A funkciót Postman alkalmazással teszteltem.
| T03      | Backend           | A create category megfelelően működik.         | Sikeres | -        | 2021.05.17. 22:36  |
                                A funkciót Postman alkalmazással teszteltem.
| T04      | Backend           | Az update catgeory megfelleően működik.        | Sikeres | -        | 2021.05.17. 22:39  |
                                A funkciót Postman alkalmazással teszteltem.
| T05      | Backend           | A delete category megfelelően működik.         | Sikeres | -        | 2021.05.17. 22:42  |
                                A funkciót Postman alkalmazással teszteltem.
| T06      | Backend           | A get books in category megfelelően működik.   | Sikeres | -        | 2021.05.17. 22:45  |
                                A funkciót Postman alkalmazással teszteltem.
| T07      | Backend           | A get some books megfelelően működik.          | Sikeres | -        | 2021.05.17. 22:47  |
                                A funkciót Postman alkalmazással teszteltem.
| T08      | Backend           | A get books cost megfelelően működik.          | Sikeres | -        | 2021.05.17. 22:49  |
                                A funkciót Postman alkalmazással teszteltem.
| T09      | Backend           | A get books cost desc megfelelően működik.     | Sikeres | -        | 2021.05.17. 22:51  |
                                A funkciót Postman alkalmazással teszteltem.
| T10     | Backend           | A get books by title megfelelően működik.       | Sikeres | -        | 2021.05.17. 22:53  |
                                A funkciót Postman alkalmazással teszteltem.
| T11     | Backend           | A get books by title desc megfelelőn működik.   | Sikeres | -        | 2021.05.17. 22:55  |
                                A funkciót Postman alkalmazással teszteltem.
| T12     | Frontend          | Az ImageSlider megfelelően működik.             | Sikeres | -        | 2021.05.18. 09:50  |
            - ImageSlider
| T13     | Frontend          | Az a főoldalon a a könyvek helyesen             | Sikeres | -        | 2021.05.18. 09:52  |
            - Főoldal           jelennek meg.
| T14     | Frontend - Footer | A footer megfelelően jelenik meg. A linkek      | Sikeres | -        | 2021.05.18. 09.55  | 
                                a megfelelő oldalra visznek.
| T15     | Frontend - Navbar | A menü megfelelően jelenik meg. A linkek a      | Sikeres | -        | 2021.05.18. 09:59  |
                                megfelelő oldalra visznek.
| T16     | Frontend - Navbar | A dropdown menüben a kategoria nevek meg-       | Sikeres | -        | 2021.05.18. 10:02  |
            - Dropdown menu     jelennek meg. A linkek a megfelelő oldal-
                                ra visznek.
| T17     | Frontend - Könyvek| A könyvek megfelelően jelennek meg kategórián-  | Sikeres | -        | 2021.05.18. 10:04  |
            kilistázása kate-   ként.
            goriánként