.bookContainerRight{
    width: 70%;
    float: right;
}

.bookContainerLeft{
    width: 30%;
    float: left;
    align-items: center;   
}

.bookImage{
    width: 60%;
}

.bookContainer{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.bookContainerRight p{
    padding: 0%;
}

.bookContainerRight .btn{
    margin-right: 2%;
    margin-bottom: 2%;
    
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}